
    body {
      background-color: lavender;"
    }
    hr{
      border-style: none;
      border-top: dotted;
      border-color: grey;
      border-width: 10%;



  }
  img{height: 250px
  }
  h1 {color: navy; text-decoration: underline; text-shadow: grey 1px 0 10px;}
  h3 {
    color: #2FA4FF;
